@use "vars";

.card {
  width: 20%;
  min-width: 250px;
  padding: 2rem 1.5rem;
  border-radius: 10px;
  background-color: vars.$clr-dark-accent;
  color: vars.$clr-light-shade;

  &.big {
    width: 50%;
    max-width: 500px;
    margin-bottom: 1.5rem;
    & h1 {
      margin-bottom: 2rem;
    }

    & p {
      font-size: vars.$fs-s;
      text-align: justify;
    }
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & p:first-child {
    font-size: vars.$fs-s;
    font-weight: bold;
  }

  & p:nth-child(2) {
    text-align: justify;
  }
}
